name: CI / CD - Build and Deploy to IIS (Windows Server)

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build & Deploy API
    runs-on: windows-latest

    steps:
      # Checkout source code
      - name: Checkout repo
        uses: actions/checkout@v4

      # Setup .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      # Restore
      - name: Restore
        run: dotnet restore ./API/Orphanage.API.csproj

      # Publish API (Release)
      - name: Publish API
        run: |
          dotnet publish ./API/Orphanage.API.csproj -c Release -r win-x64 --self-contained false -o ./publish

      # Zip published output
      - name: Archive published files
        run: |
          powershell -Command "Compress-Archive -Path publish\* -DestinationPath artifact.zip -Force"

      # Deploy to IIS server
      - name: Deploy to IIS via Web Deploy
        run: |
          powershell -Command "& 'C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe' -verb:sync -source:package='artifact.zip' -dest:auto,computerName='https://192.168.1.2:8172/msdeploy.axd?site=OrphanageManagement-Backend',userName='GANESH1708\Ganesh',password='Ganesh@1712',authType='Basic' -allowUntrusted"
